<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>
		<style>
		.login-form {
			width: 900px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: ;
			color: #4d4d4d;
			font-size: 32px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 70%;
			padding: 12px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 60%;
			padding: 12px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.login-form a {
			text-align: right;
			width: 50%;
			padding: 5px;
			background-color: #535b63;
			border: 0;
			
			cursor: pointer;
			
			color: #ffffff;

		}
	
		.login-form p {
			
			color: #4d4d4d;
			font-size: 15px;
			padding: 20px;
		}


		</style>
	</head>


<body>
<div class="login-form">
<h1 align="center">Voter Interface</h1>
<p><mark></mark> Article url</mark> <i>-Author </i>-Publisher-<b> Verdict </b></p>

<ul> 
	<% obj.forEach(function(obj){ %>
	
	<li><p> <mark> <%=obj.Record.url%> </mark>- <i><%=obj.Record.author%> </i> -<%=obj.Record.publisher%>- <b><%=obj.Record.verdict%> </b></p> </li>  
	<% }) %>
</ul>

<p align="center"> <a  href="/authorpub">query author/publisher</a>  <a href="/addarticle">Add new article</a></p>




<form action="vote" method="post">
	<p>Please enter url of the article you wish to vote on-</p>
	<input type="text" name="url">

	Reliable:
	<input type="radio" name="reliability" value="reliable">
	Not Reliable:
	<input type="radio" name="reliability" value="Not">

	<input type="submit" name="vote">

	
</form>

<!-- <form action="authorscore" method="post">
	<p>Search AUTHOR Score</p>
	<input type="text" name="author">

	

	<input type="submit" name="vote">

	
</form>
<form action="authorscore" method="post">
	<p>Search AUTHOR Score</p>
	<input type="text" name="author">

	

	<input type="submit" name="vote">

	
</form> -->
</div>




<body> 






