<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		<style>
		.login-form {
			
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px ;
		}
		.login-form h2 {
			text-align: center;
			color: #4d4d4d;
			font-size: 35px;
			padding: 20px ;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.login-form input[type="submit"] {
			text-align: center;
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.nav {
            height: 30px;
        line-height: 30px;
    }


		
		</style>
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

	<body>
		<div class="login-form">
			<nav class="nav-wrapper blue-grey lighten-1 ">
				<h2 class=" blue-grey lighten-1   " align="center" >Crypto Vote</h2>
			<h1 >Please login using your Google account-</h1>

			</nav>
			<br>
			<br>
			<br>
			<br>
		
			
			  <h1  ><div class="btn white darken-4 col s15 m6" padding='20px' align="center" >
     			<a class=" blue-grey-text lighten-1   " style="text-align:center" href = <%= obj %> >
        		 <div class="left">
          	   <img align="left" width="35px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
       	      </div>
       	     Login with Google
     			</a>
			</div></h1>

			<br>
			<!-- <input type="button" name="password" placeholder="Register User" value="register user" onclick="adii" /> --> 
			
			
		</div>
	</body>
</html>